{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h2>{% trans "Password Reset" %}</h2>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-outline-info" type="submit" value="{% trans 'Reset My Password' %}"/>
    </form>

    <p>{% blocktrans %}Свяжитесь с нами, если у вас возникли сложности со сменой
        пароля.{% endblocktrans %}</p>
{% endblock %}
